// Fonts
$font-family-body: "JetBrains Mono", monospace;
$font-family-mono: "JetBrains Mono", monospace;
$font-family-tt: "Inconsolata", monospace;
$font-size: 18px;
$line-height: 1.4;
$page-width: 52rem;
// Logo
$logo-width: 100px;
$logo-height: 100px;
$logo-grayout: false;
// Colors
$colors: "classic" // white dark light classic